
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Emp</title>
</head>
<body>
<div align="center">
    <h1>Create New Emp</h1>
    <br />
    <form action="#" th:action="@{/submit}" th:object="${emp}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Emp code:</td>
                <td><input type="text" th:field="*{emp code}" /></td>
            </tr>
            <tr>
                <td>Emp First Name:</td>
                <td><input type="text" th:field="*{emp firstName}" /></td>
            </tr>
            <tr>
                <td>Emp Last Name:</td>
                <td><input type="text" th:field="*{emp lastName}" /></td>
            <tr>
                <td>Emp DOB:</td>
                <td><input type="text" th:field="*{emp dob}" /></td>
            <tr>
                <td>Emp DOJ:</td>
                <td><input type="text" th:field="*{emp doj}" /></td>
            </tr>
            </tr>
            <tr>
                <td>Emp Email:</td>
                <td><input type="text" th:field="*{emp email}" /></td>
            </tr>
            <tr>
                <td>Emp Mobile:</td>
                <td><input type="text" th:field="*{emp mobile}" /></td>
            </tr>
            <tr>
                <td>Emp Salary:</td>
                <td><input type="text" th:field="*{emp salary}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>